<div class="div-image">
  <img src="../assets/angular-pokedex.png" />
</div>
<button class="button-add" (click)="openModalWithComponent(0)"><b>ADICIONAR POKEMON</b></button>
<div class="container-cards">
  <div *ngFor="let pokemon of pokemons">
    <mat-card class="card">
      <mat-card-content>
        <div class="inside-card">
          <h3>NOME</h3>
          <p>{{ pokemon.name }}</p>
          <hr />
        </div>
        <div class="inside-card">
          <h3>TIPO</h3>
          <p>{{ pokemon.typePokemon }}</p>
          <hr />
        </div>
        <div class="inside-card">
          <h3>DESCRIÇÃO</h3>
          <p>{{ pokemon.description }}</p>
          <hr />
        </div>
        <div>
          <button mat-button (click)="openModalWithComponent(1, pokemon)">
            ALTERAR
          </button>
          <button mat-button (click)="deletePokemon(pokemon)">DELETAR</button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
